<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Sitio Web{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Api Flask</h1>
        <nav>
            <a href="{{  url_for('auth.logout') }}">Inicio</a>
            <a href="{{ url_for('auth.register') }}">Registro</a>
            <a href="{{ url_for('auth.login') }}">Cuenta</a>
            <a href="{{ url_for('crud.listar_afiliados') }}">mostrar afiliados</a>
        </nav>
    </header>

     <!-- Contenido principal -->
    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Mi Sitio Web</p>
    </footer>
</body>
</html>
